<h1 class="col-12 movie-list-title bretflix-blue">List of Movies</h1>

<div class="col-sm-6 list-group">
  <h4><% @movies.each do |movie| %>
    <a href="/movies/<%= movie.id %>" class="list-group-item"><img src="<%= movie.poster %>" width="60" height="88" alt="<%= movie.title %>"> <%= movie.title %></a>
  <% end %></h4>
<%= paginate @movies %>
  <div>
    <% if current_user && current_user.is_admin?%>
      <%= link_to 'Home', admin_index_path %>
    <% else %>
      <%= link_to 'Home', root_path %>
    <% end %>
  </div>
</div>

