<h1 class="col-12">Matches for '<%=@keyword%>'</h1>

<div class="col-sm-6 movie-list">
  <% @movies.each do |movie| %>
    <ul>
      <li class="list-group-item"><img src="<%= movie.poster %>" width="60" height="88" alt="<%= movie.title %>"> <%= link_to "#{movie.title}", movie_path(movie) %></a></li>
    </ul>
  <% end %>
<%= paginate @movies %>

<%= link_to 'Home', root_path %>
</div>
