<h1>Movie Details</h1>

<h2>
  <strong>Title:</strong>
  <%= @movie.title %>
</h2>

 <p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>


<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @movie.due_date %>
</p>

<p>
  <strong># of checkouts:</strong>
  <%= @movie.checkout_count %>
</p>

<% if current_user %>
  <%if current_user.is_admin?%>
    <%= button_to "Delete Movie", "/admin/movies/#{@movie.id}", method: :delete, class: 'bret-button', data: { confirm: "Delete #{@movie.title}?"} %>
    <%if @movie.checked_out? %>
      <br>
      <%= button_to "Check In", "/admin/movies/#{@movie.id}", method: :put, class: 'bret-button' %>
    <%elsif !@movie.checked_out? %>
      <br>
      <%= button_to "Check Out", "/admin/movies/#{@movie.id}", method: :put, class: 'bret-button' %>
    <% end %>
  <%elsif !@movie.checked_out? %>
    <%= button_to "Check Out", "/admin/movies/#{@movie.id}", method: :put, class: 'bret-button' %>
  <% end %>
<% end %>

<br>
<%= link_to 'Back', request.referrer %>
