<h1 class="bretflix-blue">Movie Details</h1>

<img src="<%= @movie.poster %>" width="150" height="220" alt="<%= @movie.title %>">

<h2>
  <strong>Title:</strong>
  <%= @movie.title %>
</h2>

 <p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>


<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>IMDB Rating:</strong>
  <%= @movie.imdbrating %>
</p>

<p>
  <strong># of checkouts:</strong>
  <%= @movie.checkout_count %>
</p>

<% if current_user %>
  <%if current_user.is_admin?%>
    <%= button_to "Delete Movie", "/admin/movies/#{@movie.id}", method: :delete, class: 'bret-button', data: { confirm: "Delete #{@movie.title}?"} %>
    <%if @movie.checked_out? %>
      <br>
      <%= button_to "Check In", "/admin/movies/#{@movie.id}", method: :put, class: 'bret-button' %>
    <%elsif !@movie.checked_out? %>
      <br>
      <%= button_to "Check Out", "/admin/movies/#{@movie.id}", method: :put, class: 'bret-button' %>
    <% end %>
  <%elsif !@movie.checked_out? %>
    <%= button_to "Check Out", "/admin/movies/#{@movie.id}", method: :put, class: 'bret-button' %>
  <%else%>
    <h3>Title will be available for checkout on <%= @movie.due_date %></h3>
  <% end %>  
<% end %>

<br>
<%= link_to 'Back', request.referrer %>
