<h1>Details for <%= @user.full_name%></h1>

<h3>Profile:</h3>
  <div>
    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
  </div>

<h3>Currently checked out:</h3>
<div>
  <table>
    <div id="user-movie-list-header">
      <tr>
        <th>Title</th>
        <th>Due Date</th>
      </tr>
    </div>
    <div id="user-movie-list-data">
      <% @user.movies.each do |movie| %>
        <tr>
          <td><%= "#{movie.title}" %></td>
          <td><%= "#{movie.due_date}" %></td>
        </tr>
      <% end %>
    </div>
  </table>
</div>

<%= form_for :user, url: "#{@user.id}", method: :delete do |f| %>
  <%= f.submit "Delete User", class: 'form-submit' %>
<% end %>

