<div class="well">
	<div class="page-header">
		<h1 class="welcome-header bretflix-blue"><strong>Welcome to BretFlix</strong> <small class="small-welcome-header">For all your movie checkout needs</small></h1>
	</div><!-- end page-header -->

	<p class="lead">Browse through the entire collection by selecting the button below, or search by keyword in the search bar above.</p>

	<form class="search-form" action=movies>
	  <input class="btn btn-lg btn-primary" type="submit" value="View the Entire Collection" />
	</form>

	<% if current_user && current_user.is_admin? %>
		<%= link_to "Admin Home", admin_index_path, class: "btn btn-lg btn-link" %>
	<% end %>
</div><!-- end well -->

<div class="row bretflix-blue" id="featuresHeading">
	<div class="col-sm-6">
		<h2>Most Popular Titles</h2>
		<p class="lead">Top 5 most checked out movies from Bretflix:</p>

		<div class="row" id="features">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Movie Titles</h3>
				</div><!-- end panel-heading -->
				<div class="list-group panel-list">
					<h4><% @checked_out_movies.each do |movie| %>
					    <a href="/movies/<%= movie.id %>" class="list-group-item"><img src="<%= movie.poster %>" width="60" height="88" alt="<%= movie.title %>" > <%= movie.title %></a>
					<% end %></h4>
				</div><!-- end panel-body -->
			</div><!-- end panel -->
		</div><!-- end feature -->
	</div><!-- end col-sm-6 -->

	<div class="col-sm-6">
		<h2> 5 Newest Titles</h2>
		<p class="lead">Ready to be checked out from Bretflix:</p>

		<div class="row" id="features">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Movie Titles</h3>
				</div><!-- end panel-heading -->
				<div class="list-group panel-list">
					<% newest = Movie.all.order(created_at: :desc).limit(5) %>
					<h4><% newest.each do |movie| %>
					    <a href="/movies/<%= movie.id %>" class="list-group-item"><img src="<%= movie.poster %>" width="60" height="88" alt="<%= movie.title %>" > <%= movie.title %></a>
					<% end %></h4>
				</div><!-- end panel-body -->
			</div><!-- end panel -->
		</div><!-- end feature -->
	</div><!-- end col-sm-6 -->
</div><!-- end featuresHeading -->
