<!DOCTYPE html>
<html>
  <head>
    <title>Bretflix</title>
    <!-- Prevent cross-site request forgery -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <meta charset="utf-8">
    <!-- Drop this if not intending to support IE 9 or earlier -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Enable responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <%= render "partials/navbar" %>
    </div>
    <div class="container" id="main">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <footer id="myFooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <h6>Copyright &copy; 2016 WNKG</h6>
          </div><!-- end col-sm-2 -->
          <div class="col-sm-6">
            <h6>About Bretflix</h6>
            <p>Bretflix is a service provided to you by Bret Bassett for your movie viewing pleasure. Please remember to return all discs checked out in a timely manner so others may enjoy Bretflix. Enjoy!</p>
          </div><!-- end col-sm-6 -->
          <div class="col-sm-2">
            <h6>Navigation</h6>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div><!-- end col-sm-2 -->
          <div class="col-sm-2">
            <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Warner and Katherine</h6>
          </div><!-- end col-sm-2 -->
        </div><!-- end row -->
      </div><!-- end container -->
    </footer>
  </body>
</html>

